<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>File Metadata | freeCodeCamp</title>
    <style>
      main > .container {
        padding: 70px 15px 0;
      }
      .footer {
        background-color: #333;
      }
    </style>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">File Metadata</a>
        </div>
      </nav>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>API Project: File Metadata Microservice</h2>
            <h3>User Stories:</h3>
            <ol>
              <li>I can submit a form object that includes a file upload.</li>
              <li>
                The from file input field has the "name" attribute set to
                "upfile". We rely on this in testing.
              </li>
              <li>
                When I submit something, I will receive the file name, and size
                in bytes within the JSON response.
              </li>
            </ol>
            <h3>Usage:</h3>
            <p>
              Please Upload a File ...
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="card">
              <div class="card-body">
                <form
                  enctype="multipart/form-data"
                  method="POST"
                  action="/api/fileanalyse"
                >
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="customFile"
                      name="upfile"
                    />
                    <label class="custom-file-label" for="customFile"
                      >Choose file</label
                    >
                  </div>
                  <button class="btn btn-primary mt-3" type="submit">
                    Upload
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container  text-center">
        <span class="text-muted">made with ❤ by ynabytes.</span>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      const fileInput = document.querySelector('input');
      fileInput.addEventListener('change', e => {
        const label = document.querySelector('label');
        const arr = e.target.value.split('\\');
        label.innerText = arr[arr.length - 1];
      });
    </script>
  </body>
</html>